<h1>Editing Mantenciondesviacion</h1>

<%= render 'form', mantenciondesviacion: @mantenciondesviacion %>

<%= link_to 'Show', @mantenciondesviacion %> |
<%= link_to 'Back', mantenciondesviacions_path %>
