<h1>Editing Operacioncontroldete</h1>

<%= render 'form', operacioncontroldete: @operacioncontroldete %>

<%= link_to 'Show', @operacioncontroldete %> |
<%= link_to 'Back', operacioncontroldetes_path %>
