

<div class="jumbotron">
<h1 class="display-4">Bienvenido!</h1>
<p class="lead">DB REPORT Plataforma de Control de Averías de Plantas en tiempo real.</p>
<hr class="my-4">
<p>Favor hacer click en el siguiente boton para ingreso al Dasboard de control de la aplicación.</p>
<li><%= link_to "Ingreso al sistema", rails_admin_path, :class=>"btn btn-primary btn-lg" %></li>